* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
}

header {
    background: #2D2D2D;
}

nav {
    display: flex;
    background: #2D2D2D;
    align-items: center;
    color: #FFFFFF;
    gap: 100px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    height: 100px;
    width: 94%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 80px;
}

nav ul li {
    display: flex;
    align-items: center;
}

.arenda p {
    width: 190px;
    height: 40px;
}

nav ul:nth-child(1) li img {
    width: 100px;
    height: 40px;
}

nav ul li img {
    width: 21px;
    height: 21px;
}

nav ul li .number {
    width: 140px;
    height: 95px;
    margin-top: 40px;
}

.btn button {
    width: 200px;
    height: 45px;
    border: 2px solid #FFBF1D;
    color: #FFFFFF;
    background: #2D2D2D;
    border-radius: 2px;
    font-size: 15px;
}

.catalogue ul {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.catalogue ul:nth-child(1) {
    margin-left: 210px;
}

.catalogue ul li a {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.catalogue {
    display: flex;
    gap: 250px;
    height: 80px;
    background: #F3F3F3;
}

.catalogue ul li input {
    width: 270px;
    height: 30px;
    border: #2D2D2D99 1px solid;
    background-image: url("./assets/qidiruv.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    height: 30px;
}

.big_img {
    width: 100%;
    height: 500px;
    background-image: url("./assets/mainimg.png");
}
.are{
    padding-top: 105px;
    padding-left: 120px;
    width: 788px;
    height: 600px;
    background: #FFFFFFCC;

}
.are h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 44px;
    width: 600px;
    height: 124px;
    color: #2D2D2D;
}

.are p {
    width: 435px;
    height: 75px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2D2D2D;
}

.button_div button:nth-child(1) {
    width: 219px;
    height: 50px;
    background: #FCB427;
    border: none;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 2px;
}

.button_div button:nth-child(2) {
    width: 219px;
    height: 50px;
    border: 1px solid #2D2D2D;
    background: none;
}
.lr{
    margin-top: -160px;
    margin-left: 727px;
}
.lr button{
    border: none;
    width: 60px;
    height: 60px;
}
.lr button:nth-child(1){
    border: 1px solid #F3F3F3;
    background: #C4C4C420;
    color: #FFFFFF;
}

.lr button:nth-child(2){
    background: #FCB427;
color: #FFFFFF;
}