* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    background: #2D2D2D;
}

nav {
    display: flex;
    background: #2D2D2D;
    align-items: center;
    color: #FFFFFF;
    gap: 100px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    height: 100px;
    width: 94%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 80px;
}

nav ul li {
    display: flex;
    align-items: center;
}

.arenda p {
    width: 190px;
    height: 40px;
}

nav ul:nth-child(1) li img {
    width: 100px;
    height: 40px;
}

nav ul li img {
    width: 21px;
    height: 21px;
}

nav ul li .number {
    width: 140px;
    height: 95px;
    margin-top: 40px;
}

.btn button {
    width: 200px;
    height: 45px;
    border: 2px solid #FFBF1D;
    color: #FFFFFF;
    background: #2D2D2D;
    border-radius: 2px;
    font-size: 15px;
}