* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav {
    display: flex;
    background: #2D2D2D;
    align-items: center;
    color: #FFFFFF;
    gap: 200px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li {
    display: flex;
    align-items: center;
}

.arenda p {
    width: 190px;
    height: 40px;
}

nav ul:nth-child(1) li img {
    width: 100px;
    height: 40px;
}

nav ul li img {
    width: 21px;
    height: 21px;
}

nav ul li .number {
    width: 140px;
    height: 95px;
}